* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #1b1b1b !important;
    color: #fff !important;

}

/* 
body::-webkit-scrollbar{
    display: none;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
}

section {
    margin: 2.5rem 0;
}